<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<hr><hr>
<table class='centeredbox'>
  <tr>
    <td *ngFor='let barCol of barColors'>
      <div [ngStyle]="{
        'height': '100px',
        'width': '35px',
        'margin': '1px -1px 1px -1px',
        'display': 'inline-block',
        'background-color': barCol
      }">
      </div>
    </td>
  </tr>
</table>
<form action="/">
  <input class='button' type="submit" value='Refresh'>
</form>